/* http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: #f0d8ef;
}

/**
 * Duck.
 */

.duck {
    position: absolute;
    display: inline-block;

    left: 0;

    height: 200px;
}

.duck .bill {
    position: absolute;
    top: 83px;
    left: 116px;
    background-color: yellow;
    width: 20px;
    height: 10px;
    border: 3px solid orange;
    border-left: none;

    border-radius: 3px;
}

.duck .head {
    position: absolute;
    top: 54px;
    left: 80px;
    background-color: #B68E6A;
    width: 40px;
    height: 40px;
    border: 4px solid black;
    border-bottom-color: transparent;
    z-index: 3;

    border-radius: 20px 30px 0 0;
}

.duck .head:after {
    display: block;
    content: '';
    position: absolute;
    top: 7px;
    left: 18px;
    background-color: black;
    width: 7px;
    height: 7px;

    border: 0px solid #B68E6A;
    box-shadow: 0 0 0 1px black;

    border-radius: 1em;
}

.duck .head:after {
    animation-duration: 4s;
    animation-name: blink;
    animation-iteration-count: infinite;
}

.duck .body {
    position: absolute;
    top: 90px;
    left: 50px;
    background-color: #965333;
    width: 70px;
    height: 40px;
    border: 4px solid black;

    border-radius: 1em 0 3em 4em;
}

.duck .leg,
.duck .leg:after {
    position: absolute;
    top: 120px;
    background-color: orange;
    height: 20px;
    width: 4px;
}

.duck .leg:after {
    display: block;
    content: '';
    top: 20px;
    left: -8px;
    height: 4px;
    width: 20px;

    border-radius: 1em;
}

.duck .left.leg {
    left: 70px;
}

.duck .right.leg {
    left: 95px;
}

#birthday:checked ~ .duck .hat {
    position: absolute;

    transform: rotate(-19deg);

    top: -25px;
    left: -9px;

    width: 0;
    height: 0;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-bottom: 28px solid hsl(270,90%,60%);
}

#birthday:checked ~ .duck .hat:before {
    position: absolute;
    display: block;
    content: '';

    top: 0px;
    left: -13px;

    width: 20px;
    height: 20px;

    background: radial-gradient(#FFF, #FFF 4px, rgba(255,255,255,0) 5px);
}

#birthday:checked ~ .duck .hat:after {
    position: absolute;
    display: block;
    content: '';

    top: 10px;
    left: -3px;

    width: 20px;
    height: 20px;

    background: radial-gradient(#FFF, #FFF 4px, rgba(255,255,255,0) 5px);
}

#birthday:checked ~ .duck .hat .dot {
    position: absolute;

    top: 10px;
    left: -18px;

    width: 20px;
    height: 20px;

    background: radial-gradient(#FFF, #FFF 3px, rgba(255,255,255,0) 4px);
}

#birthday:checked ~ .duck .hat .dot-cover:before {
    position: absolute;
    display: block;
    content: '';

    transform: rotate(-26deg);

    top: -2px;
    left: 6px;

    width: 1px;
    height: 30px;

    z-index: 2;

    background: black;
}

#birthday:checked ~ .duck .hat .dot-cover:after {
    position: absolute;
    display: block;
    content: '';

    transform: rotate(26deg);

    top: -2px;
    left: -6px;

    width: 1px;
    height: 30px;

    z-index: 2;

    background: black;
}

#birthday:checked ~ .duck .hat .dot-cover-bottom {
    position: absolute;
    display: block;
    content: '';

    top: 27px;
    left: -12px;

    width: 26px;
    height: 1px;

    z-index: 2;

    background: black;
}

#birthday:checked ~ .duck .horn {
    position: absolute;
    left: 15px;
    height: 4px;
    background: red;

    animation-duration: 4s;
    animation-name: party-horn;
    animation-iteration-count: infinite;
}

#birthday:checked ~ .duck .horn-roll {
    position: absolute;

    margin-top: -4px;
    margin-left: 20px;

    width: 10px;
    height: 10px;

    border-radius: 1em;

    background: red;

    animation-duration: 4s;
    animation-name: party-horn-roll;
    animation-iteration-count: infinite;
}

@keyframes blink {
    50%  { border-top-width: 0;   border-bottom-width: 0;   }
    55%  { border-top-width: 4px; border-bottom-width: 4px; }
    60%  { border-top-width: 0;   border-bottom-width: 0;   }
}

@keyframes party-horn {
    0%, 50%, 100% {
        width: 20px;
    }

    60%, 80% {
        width: 40px;
    }
}

@keyframes party-horn-roll {
    0%, 50%, 100% {
        width: 10px;
        height: 10px;
        margin-top: -6px;
        margin-left: 30px;
    }

    60%, 80% {
        width: 4px;
        height: 4px;
        margin-top: 0px;
        margin-left: 50px;
    }
}
